<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>homepage</title>
      {% load static %}

    <!-- Bootstrap core CSS -->
      <link href="{% static '/info/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
      />
      <!-- Google Fonts -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
      />
      <!-- MDB -->
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
        rel="stylesheet"
      />
     <!-- Custom styles for this template -->
      <link href="{% static '/info/homepage/css/heroic-features.css' %}" rel="stylesheet">
      <link href="{% static '/info/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


<style type="text/css">
        body.my-login-page {
    background-color: #EBEBEB;
    font-size: 14px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


      </style>
  </head>
  <body class="my-login-page">
    <!-- Navbar -->
    {% include "includes/header_of_student_panel.html" %}
    <!-- end Navbar -->
<!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">College-ERP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link font-weight-bold text-dark" href="#" style="border:2px #EBEBEB solid; border-radius: 20px;"><h6>Logout</h6></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>


    <section class="faculty-panel main__content">
      <div class="container">
      <div class="row">
          <div class="col-md-6">
          <div class="container mt-4">
            <div class="card text-center">
                <div class="card-header">
                  <h4 class="font-weight-bold">Attendance</h4>
                </div>
                <div class="card-body">
                    <p class="card-text ">
                        Enter the attendance of the students based on the class they are in. There is alsothe provision to edit the attendance of a whole class or student individually.
                    </p>
                    <a href="{% url 't_clas' request.user.teacher.id 1 %}">
                      <button type="button " class="btn btn-primary">
                          Click Here
                      </button>
                    </a>
                </div>
            </div>


         <div class="card text-center mt-4">
            <div class="card-header">
              <h4 class="font-weight-bold">Marks</h4>
            </div>
            <div class="card-body">
                <p class="card-text ">
                    Enter the marks of the students based on the class they are in. This includes Internals, events and SEE. The marks of the students can also be edited.
                </p>
                <a href="{% url 't_clas' request.user.teacher.id 2 %}">
                  <button type="button " class="btn btn-primary">
                      Click Here
                  </button>
                </a>
            </div>
        </div>


        <div class="card text-center mt-4">
            <div class="card-header">
              <h4 class="font-weight-bold">TimeTable</h4>
            </div>
            <div class="card-body">
                <p class="card-text ">
                    View the timetable in a tabular form. For a particular class, it specifies a list of teachers who handle the same class that are free for that time slot.
                </p>
                <a href="{% url 't_timetable' request.user.teacher.id %}">
                  <button type="button " class="btn btn-primary">
                      Click Here
                  </button>
                </a>
            </div>
        </div>

        <div class="card text-center mt-4 mb-4">
            <div class="card-header">
              <h4 class="font-weight-bold">Reports</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Generate reports for each class. These reports include generating a table consisting of the students belonging to that class and their respective CIE and Attendance.
                </p>
                <a href="{% url 't_clas' request.user.teacher.id 3 %}">
                  <button type="button " class="btn btn-primary">
                      Click Here
                  </button>
                </a>
            </div>
        </div>


      </div>
    </div>

  <div class="col-md-6 mt-4 mb-4">
      <div class="card">
          <div class="card-header">
              <h4 class="font-weight-bold">Today Task</h4>
          </div>
      </div>
  </div>
</div>
      <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/accounts/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->


    <script src="{% static '/info/homepage/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/info/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
  ></script>
  </body>

</html>
